/* Color themes */
:root[data-theme="dark"] {
    --bg-color: #495867;
    --foreground-color: #577399;
    --middle-blue: #BDD5EA;
    --text-color: #F7F7FF;
    --highlight-color: #FE5F55;
    --disabled-color: rgb(175, 175, 175);
}

:root[data-theme="light"] {
    --bg-color: #F7F7FF;
    --foreground-color: #577399;
    --middle-blue: #BDD5EA;
    --text-color: #495867;
    --highlight-color: #FE5F55;
    --disabled-color: #ccc;
}
   

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Helvetica', 'Arial', sans-serif;
}

a {
    color: var(--text-color);
}

button {
    background-color: var(--highlight-color);
    border: none;
    border-radius: 10px;
    padding: 15px;
    float: right;
}

button a {
    text-decoration: none;
    color: #F7F7FF;
}

/* Navigation Bar */

.navigation-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*font-size: 10px;*/
}

.navigation-bar li {
    float: left;
    padding-left: 5px; /* small gap between items in navigation menu */
}

.navigation-bar li a {
    display: block;
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.navigation-bar .underline:hover {
    text-decoration: underline;
}

.navigation-bar .active {
    color: var(--disabled-color);
}

input {
    border: 2px solid var(--text-color);
    color: var(--text-color);
    border-radius: 0.75em;
    background-color: transparent;
    padding: 8px; 
    margin-top: 10px;
    width: 360px;

    box-sizing: border-box;
}

/* search bar */
#myInput {
    width: 100%;
}

#myInput:focus + #myUL {
    display: block;
}

#myUL {
    display: none;
}

#myUL:hover { display: block; }

/*.dropdown {
    position: relative;
    display: inline-block;
}*/
  
.dropdown-content {
    position: absolute;
    min-width: 30%;
    max-height: 30%;
    overflow: auto;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    z-index: 99;
    border-radius: 0.75em;
}

.dropdown-content a {
    /*color: black;*/
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    /*background-color: #ddd;*/
    border-radius: 0.75em;
}

/* Custom theme switching for the dropdown because it looks weird otherwise */
:root[data-theme="dark"] .dropdown-content {
    background-color: var(--foreground-color);
}

:root[data-theme="dark"] .dropdown-content a:hover {
    background-color: var(--bg-color);
}

:root[data-theme="light"] .dropdown-content {
    background-color: var(--bg-color);
}

:root[data-theme="light"] .dropdown-content a:hover {
    background-color: var(--middle-blue);
}

#map {
    z-index: 1;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

/* Theme toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--middle-blue);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--highlight-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Class to disable slider animation on page reload */
.slider.round.preload:before {
    -webkit-transition: 0s !important;
    transition: 0s !important;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}