{% extends 'base.j2' %}

{% block title %}400{% endblock %}

{% block navbar %}
<li>
	<a class="underline" href="/">Map</a>
</li>
<li>
	<a class="underline" href="guide.html">Guide</a>
</li>

<li>
	<a class="underline" href="about.html">About</a>
</li>
<li>
	<a class="underline" href="licensing.html">Licensing</a>
</li>
{% endblock %}

{% block body %}
<div class="body-text">
	<h1>400 - Bad Request</h1>
	<h3><a href="/">Back to home</a></h3>
</div>
{% endblock %}
