{% extends 'base.j2' %}

{% block title %}500{% endblock %}

{% block navbar %}
<li>
	<a class="underline" href="/">Map</a>
</li>
<li>
	<a class="underline" href="guide.html">Guide</a>
</li>

<li>
	<a class="underline" href="about.html">About</a>
</li>
<li>
	<a class="underline" href="licensing.html">Licensing</a>
</li>
{% endblock %}

{% block body %}
<div class="body-text">
	<h1>500 - Internal Server Error</h1>
	<p>The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.</p>
	<h3><a href="/">Back to home</a></h3>
</div>
{% endblock %}
