:root {
    --black: #495867;
    --blue: #577399;
    --light-blue: #BDD5EA;
    --white: #F7F7FF;
    --orange: #FE5F55;
}

.btn-primary {
    background-color: #FE5F55 !important;
}

body {
    background-color: #FE5F55;
}