{% extends 'base.j2' %}

{% block title %}404{% endblock %}

{% block navbar %}
<li>
	<a class="underline" href="/">Map</a>
</li>
<li>
	<a class="underline" href="guide.html">Guide</a>
</li>

<li>
	<a class="underline" href="about.html">About</a>
</li>
<li>
	<a class="underline" href="licensing.html">Licensing</a>
</li>
{% endblock %}

{% block body %}
<h1>404 - Page not found</h1>
<h3><a href="/">Back to home</a></h3>
{% endblock %}
