{% extends 'base.j2' %}

{% block title %}About{% endblock %}

{% block navbar %}
<li>
	<a class="underline" href="/">Map</a>
</li>
<li>
	<a class="underline" href="guide.html">Guide</a>
</li>

<li>
	<a class="active">About</a>
</li>
<li>
	<a class="underline" href="licensing.html">Licensing</a>
</li>
{% endblock %}

{% block body %}
<div class="body-text">
	<h1>About</h1>
	<p>This webapp is an interactive map of John McGlashan College, made for NCEA Web Design and Development Standards 91891, 91893 and 91897.</p>
	<p>Programmed by <a href="https://github.com/EthanLeitch">Ethan Leitch, 2022.</a></p>
</div>
{% endblock %}