<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Custom styles -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

	<!-- jQuery from Google CDN --> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	
    {% block styles %}{% endblock %}

	<title>{% block title %}{% endblock %}</title>
</head>

<body>

	<!-- Navbar -->
	<nav>
		<div class="navigation-bar">
			<ul>

				{% block navbar %}
				{% endblock %}

				<li>
					<div class="switch-container">
						<label class="switch" class="preload">
							<input type="checkbox" id="switch" checked>
							<span class="slider preload" id="slider"></span>
							<!-- Theme toggle javascript -->
							<script src="{{ url_for('static', filename='javascript/theme.js') }}"></script>
						</label>
					</div>
				</li>
				
				<button id="button" type="submit"><a href="/login">Sign In</a></button>

			</ul>
		</div>
	</nav>

    {% block body %}{% endblock %}

</body>
</html>