{% extends 'base.j2' %}

{% block title %}Guide{% endblock %}

{% block navbar %}
<li>
	<a class="underline" href="/">Map</a>
</li>
<li>
	<a class="active">Guide</a>
</li>

<li>
	<a class="underline" href="about.html">About</a>
</li>
<li>
	<a class="underline" href="licensing.html">Licensing</a>
</li>
{% endblock %}

{% block body %}
<h1>Guide</h1>

<h3>For users</h3>
<p>Simply search in the search bar for the classroom you want to find, click on the corresponding link, and the map will pan to your chosen classroom.</p>
<p>You can also flip the toggle switch in the menu bar to change between dark and light themes.</p>
<br>
<h3>For administrators</h3>
<p>Click the "Sign In" button in the menu bar to login to the webapp's database.</p>
<p>More instructions are avaliable on the <a href="https://github.com/EthanLeitch/digitech-website-2022/">GitHub page.</a></p>
{% endblock %}