{% extends 'base.j2' %}

{% block title %}Guide{% endblock %}

{% block navbar %}
<li>
	<a class="underline" href="/">Map</a>
</li>
<li>
	<a class="active">Guide</a>
</li>

<li>
	<a class="underline" href="about.html">About</a>
</li>
<li>
	<a class="underline" href="licensing.html">Licensing</a>
</li>
{% endblock %}
