{% extends 'base.j2' %}

{% block styles %}
	<!-- Leaflet map styles -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
	integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
	crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
	integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
	crossorigin=""></script>

	<!-- jQuery from Google CDN --> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block title %}Map{% endblock %}

{% block navbar %}
<li>
	<a class="active">Map</a>
</li>
<li>
	<a class="underline" href="guide.html">Guide</a>
</li>

<li>
	<a class="underline" href="about.html">About</a>
</li>
<li>
	<a class="underline" href="licensing.html">Licensing</a>
</li>
{% endblock %}

{% block body %}
<input type="search" id="myInput" onkeyup="searchFunction()" placeholder="Search for classroom number or name..." data-search>
<div>
	<ul class="dropdown" id="myUL">
		<!-- This list is populated by jQuery on page load -->
	</ul>
</div>

<br>
		
<div id="map" style="width: 900px; height: 580px;"></div>

<script src="{{ url_for('static', filename='javascript/map.js') }}"></script>
{% endblock %}