{% extends 'base.j2' %}

{% block title %}Licensing{% endblock %}

{% block navbar %}
<li>
	<a class="underline" href="/">Map</a>
</li>
<li>
	<a class="underline" href="guide.html">Guide</a>
</li>

<li>
	<a class="underline" href="about.html">About</a>
</li>
<li>
	<a class="active">Licensing</a>
</li>
{% endblock %}

{% block body %}
<h1>Licensing</h1>
<p>The source code of this project (excluding external packages and software) is licensed under the GNU GPL v3.0 license.</p>

<h3>External software used</h3>
<ul>
	<li><a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a></li>
	<li><a href="https://jquery.org/license/">jQuery</a></li>
</ul>

<h3>External packages used</h3>
<ul>
	<li><a href="https://flask.palletsprojects.com/en/2.1.x/license/">Flask</a></li>
	<li><a href="https://flask-sqlalchemy.palletsprojects.com/en/2.x/license/">Flask-SQLAlchemy</a></li>
	<li><a href="https://github.com/flask-admin/flask-admin/blob/master/LICENSE">Flask-Admin</a></li>
	<li><a href="https://flask-marshmallow.readthedocs.io/en/latest/license.html">Flask-Marshmallow</a></li>
	<li><a href="https://flask-wtf.readthedocs.io/en/0.15.x/license/">FlaskWTF</a></li>
	<li><a href="https://github.com/psf/requests/blob/main/LICENSE">requests</a></li>
	<li><a href="https://passlib.readthedocs.io/en/stable/copyright.html">passlib</a></li>
	<li><a href="https://github.com/pyca/bcrypt/blob/main/LICENSE">bcrypt</a></li>
	<li><a href="https://github.com/theskumar/python-dotenv/blob/master/LICENSE">dotenv</a></li>
</ul>

{% endblock %}
