{% extends 'base.j2' %}

{% block title %}Login{% endblock %}

{% block navbar %}
<li>
	<a class="underline" href="/">Map</a>
</li>
<li>
	<a class="underline" href="guide.html">Guide</a>
</li>

<li>
	<a class="underline" href="about.html">About</a>
</li>
<li>
	<a class="underline" href="licensing.j2">Licensing</a>
</li>
{% endblock %}

{% block body %}
<form method="POST">
	<input type="text" id="username" name="username" placeholder="Username" required><br>
	<input type="password" id="password" name="password" placeholder="Password" required><br><br>
	<input type="submit" value="Submit">
	{% if failed == True %}
	<p style="color: red;">Incorrect username or password!</p>
	{% endif %}
</form> 
{% endblock %}