{% extends 'base.j2' %}

{% block title %}Login{% endblock %}

{% block navbar %}
<li>
	<a class="underline" href="/">Map</a>
</li>
<li>
	<a class="underline" href="guide.html">Guide</a>
</li>

<li>
	<a class="underline" href="about.html">About</a>
</li>
<li>
	<a class="underline" href="licensing.j2">Licensing</a>
</li>
{% endblock %}

{% block body %}
<form method="POST">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" value="John" required><br>
  <label for="password">Password:</label><br>
  <input type="text" id="password" name="password" value="Doe" required><br><br>
  <input type="submit" value="Submit">
</form> 
{% endblock %}