{% extends 'base.j2' %}

{% block title %}Login{% endblock %}

{% block navbar %}
<li>
	<a class="underline" href="/">Map</a>
</li>
<li>
	<a class="underline" href="guide.html">Guide</a>
</li>

<li>
	<a class="underline" href="about.html">About</a>
</li>
<li>
	<a class="active">Licensing</a>
</li>
{% endblock %}
